/* Start Variables */
:root {
    --main-color: #10cab7;
    --secondary-color: #2c4755;
    --section-padding: 60px;
    --section-background: #f6f6f6;
    --main-duration: 0.5s;
}

/* End Variables */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    scroll-behavior: smooth;
}

body {
    font-family: "Work Sans", sans-serif;
    
}
body ::selection {
    background-color: #cedae88a;
}

.container {
    /* padding-left: 15px; */
    /* padding-right: 15px; */
    margin-left: auto;
    margin-right: auto;

    border: 2px solid black;
    display: flex;
    /* height: 100vh; */
    /* height: fit-content; */
    position: relative;
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* title */
.title {
    display: flex;
    align-items: center;
}

.title i {
    margin-right: 20px;
    font-size: 25px;
    color: #f0ffff;
    background-color: #2c4755;
    padding: 10px;
    border-radius: 10px 2px;
}

.title h1 {
    text-transform: capitalize;
    color: #2c4755;
}

.title + p {
    color: var(--secondary-color);
    font-size: 1.1em;
    line-height: 1.6;
    letter-spacing: 1px;
    max-width: 100%;
    /* background-color: #b8e7ff; */
    
}
/* e title */

/* s line */
hr.line{
    border-color: #21252b;
    opacity: .5;
    height: 5px;
    background-color: #21252b;
    border-style: none;
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 30px;
}
/* e line */
/* s section heading */
.aside-section-heading{
    width: 100%;
    color:#21252b ;
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 25px;
}
/* Small */
@media (max-width: 768px) {
    .aside-section-heading{
        font-size: 9px;
    }
}

/* e section heading */
/* end Global Rules */

/* Start aside */
aside{
    background-color: var(--main-color);
    width: 25%;
    position: relative;
    
    
}
aside section.img-container{
    width: 100%;
    height: 250px;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
aside section.img-container .image{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: relative;
    
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-shadow: 0px 0px 20px 3px var(--main-color);
}
aside section.img-container .image img{
    width: 200px;
    position: absolute;
    max-width: 100%;
    
}

@media (max-width: 768px) {
    aside section.img-container{
        height: fit-content;
    }
    aside section.img-container .image{
        border-radius: 0;
        margin-top: 37px;
        margin-bottom: 37px;
        width: 80%;
        height: 80%;
        border: 5px solid var(--section-background);
        border-radius: 5px;
        box-shadow: 0px 0px 20px 3px var(--main-color);
    }
    aside section.img-container .image img{
        position: relative;
    }
    
}

/* s contact data */
aside section.contact-data{
    
}
aside section.contact-data ul{
    list-style: none;
    margin-left: 20px;
    margin-top: 20px;
}
aside section.contact-data ul li{
    margin-bottom: 20px;
}
aside section.contact-data ul i{
    margin-right: 5px;
    color: #f0ffff;
    font-size: 17px;
}
aside section.contact-data ul a{
    color: #f0ffff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
}
aside section.contact-data ul li:hover a
{
    color: var(--secondary-color) ;
    text-decoration:underline;
}
aside section.contact-data ul li:hover i{
    color: var(--secondary-color) ;
    
}
@media (max-width: 768px) {
    aside section.contact-data ul a span{
        display: none;
    }
    aside section.contact-data ul {
        margin: 0;
        margin-top: 20px;
        display: flex;
        
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }
    aside section.contact-data ul i {
        font-size: 22px;
    }
}
/* e contact data */
/* s Education */
.education{
    /* background-color: floralwhite; */
    margin-top: 20px;
    margin-left: 20px;
    
}
.education  h2.title:first-child{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #fefeff;
}
.education  h2.school-name:nth-child(2){
    font-size: 12px;
    color: #d6e7fc;
    margin-bottom: 10px;
}
.education  span.date{
    font-size: 16px;
    color: #d6e7fc;
    text-transform: capitalize;
}
@media (max-width: 768px) {
    .education  h2.title:first-child{
        font-size: 10px;
    }
    .education  h2.school-name:nth-child(2){
        font-size: 10px;
        margin-bottom: 5px;
    }
    .education  span.date{
        font-size: 9px;
    }
    
}
/* e Education */

/* S certifications */
.certifications{
    margin-left: 20px;
}
/*g*/
.certificat{
    margin-bottom: 20px;
}
.certificat h2.title{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #fefeff;
}
.certificat h3.organization{
    font-size: 12px;
    color: #d6e7fc;
    margin-bottom: 10px;
}
.certificat a.url{
    text-decoration: none;
    font-size: 10px;
    font-weight: 600;
    color: #fefeff;
    border: 2px solid #fefef6c3;
    border-radius: 20px;
    padding: 5px ;
    text-align: center;
    vertical-align:middle;
}
.certificat a.url i{
    color: #f6f6f680;
    font-size: 10px;
}
@media (max-width: 768px) {
    .certificat h2.title{
        font-size: 10px ;
    }
    .certificat h3.organization{
        font-size: 10px;
        margin-bottom: 6px;
    }
    .certificat a.url{
        font-size: 5px;
        font-weight: 500;
    }
    
}
.certificat a.url:hover,
.certificat a.url:hover i {
    color: white;
    border-color:#fefeff ;
}
/*g*/

/* E certifications */
/*
<section class="certifications">
    <div class="certificat">
        <h2 class="title">Learn HTML & CSS</h2>
        <h3 class="organization">MaharaTech</h3>
        <a href="#" class="url">Show credential</a>
    </div>
</section>
*/



/* End aside */
/* Start Main */
main{
    background-color:#f0ffff;
    width: 75%;
    padding: 60px;
    
}
@media (max-width: 768px) {
    main{
        padding: 25px;
        font-size: 1em;
    }
    
}

/* Start Experience */
/* g */
.job{
    margin-bottom: 30px;
}
.job .job-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0 0;
    height: fit-content;
}
.job .job-info .job-title{
    color: #3F4650;
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    margin-bottom: 3px;
    
    text-transform: capitalize;
    
}
.job .job-title::selection{
    background-color: #fff700;
    color: black;
    
}
.job .job-info span.date{
    font-size: 16px;
    color: #8799af;
    text-transform: capitalize;
}
.job .company{
    color: #97AAC3;
    font-size: 16px;
    font-weight: 500;
    text-transform:capitalize;
    margin: 0;
    margin-bottom: 10px;
}
.job .text{
    color: #545E6C;
}
@media (max-width: 768px) {
    .job .job-info span.date{
        font-size: 10px;
    }
    
}
/*  g*/

/* End Experience */
/* Start Portfolio */
.portfolio{
    width: 100%;
        height: fit-content;
        position: relative;
        
}
.projects{
    /* background-color: red; */
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(calc(100% / 3), 1fr));
    align-items: center;
    margin-bottom: 30px;

}
/* Medium */
@media (max-width: 992px) {
    .projects{
        grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
    }
}

/* Small */
@media (max-width: 768px) {
    .projects{
        width: 100%;
    }
    .projects .project {
        width: 100%;
        height: 100px;
    }
}

/* g */
.project{
    background-color: #10cab7;
    width: 190px;
    height: 180px;
    max-width: 80%;
    margin-top: 30px;
    box-shadow: 0 0 5px 3px #ededed;
    justify-self: center;
    align-self: center;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    
}

/* Small */
@media (max-width: 768px) {
    .project {
        width: 100%;
    }

}


.project .project-image{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    

}
.project .project-image img{
position: absolute;
width: 100%;
height: 100%;
max-height: 100%;
max-width: 100%;


}
.project .project-title{
    width: 100%;
    height: auto;
    position: absolute;
    bottom: -150px;
    left: 0px;
    color: white;
    font-size: 15px;
    overflow: hidden;
    z-index: 5;
    padding: 40px 15px 10px 15px;
    transition: all 0.2s ease-in-out;
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0.9) 100%) repeat scroll 0 0;
}
@media (max-width:767px) {
    .project .project-title{
        font-size: 10px;
    }
}
.project:hover .project-title{
    bottom: 0;
    transition: .3s ease-in-out;
}
.project:hover .project-image img{
    transition: all 1s ease-out;
        transform: scale(1.2, 1.2) rotate(1deg);
        -webkit-transition: all .5s ease-out;
        -moz-transition: all .5s ease-out;
        -ms-transition: all .5s ease-out;
        -o-transition: all .5s ease-out;
        -webkit-transform: scale(1.2, 1.2) rotate(1deg);
        -moz-transform: scale(1.2, 1.2) rotate(1deg);
        -ms-transform: scale(1.2, 1.2) rotate(1deg);
        -o-transform: scale(1.2, 1.2) rotate(1deg);
}
/* g */
/* End Portfolio */

/* End Main */

